.cookies {
  width: auto;
  background: rgb(50, 50, 50);
  opacity: 1;
  top: auto !important;
  bottom: 0;
  left: 0;
  transition: all .5s ease;
  transition-property: top, right, bottom, left, opacity;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  min-height: 14px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  line-height: 22px;
  padding: 18px 24px;

  z-index: 9999;
  @media (min-width: $Tablet) {
    min-width: 288px;
    display: inline-flex;
    border-radius: 2px;
    margin: 24px;
  }

  &_inner {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 300;
    line-height: 1em;
    display: flex;
    flex-direction: column;

    p {
      padding: 0;
      font-size: inherit;
    }

    .cookies_inner-btn {
      display: flex;

      .cookies_button:first-child {
        margin-left: 0;
        color: #ADB5BD;
        font-weight: 400;
        text-transform: capitalize;
      }
    }

  }

  &_button {
    background: inherit;
    display: inline-block;
    border: none;
    font-size: inherit;
    text-transform: uppercase;
    color: $blue;
    line-height: 1.8;
    vertical-align: middle;
    margin: 0 0 0 24px;
    padding: 0;
    min-width: min-content;
    cursor: pointer;

    &:hover {
      text-decoration-color: #ADB5BD;
      text-decoration: underline;
    }

  }


}