@import "../variables";

footer {
  position: sticky;
}
.footer {
  background-color: black;
  padding: 7px 0;
  @media (max-width: $Tablet) {
    padding: 7px;
    display: flex;
    flex-direction: column;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    h4 {
      color: black;
    }
  }
  p, .text-footer, li {
    color: white;
    font-size: 1.5em;
  }
  a {
    color: $yellow;
    &:hover {
      color: white;
    }
  }
  li {
    list-style: none;
  }
}




