@import "../variables";

footer {
  position: sticky;
  // margin-top: 109px;
}
.footer {
  background-color: black;

  .footer-section {
    display: flex;
    flex-direction: column;

    h4 {
      color: black;

    }
  }

  p, .text-footer, li {
    color: white;
    font-size: 1.5em;
  }

  a {
    color: $yellow;

    &:hover {
      color: white;
    }
  }

  li {
    list-style: none;
  }
}




