.landingJumb {

  .landingJumb-cta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      color: white !important;
      font-size: 3rem;
      text-align: center;
      @media (max-width: $Tablet) {
        font-size: 2.5rem;
      }
    }

    .cta-landing {
      margin-top: 5vh;
      font-size: 18px;
      text-transform: uppercase;
      width: 250px;
    }
  }




}


