
.portfolioItem {
  &__GreyBg {
    position: absolute;
    margin: 0 -20vw 0 0;
    height: 100%;
    width: 55vw;
    left: 20vw;
    top: -30px;
    z-index: -1;
    background: #e5e5e5;
  }

  &__BottomImageCol {
    margin-left: -3vw;
    position: relative;

    img {
      margin-left: -7vw;
      width: 100%;

    }
  }
  &__header {
    width: 100%;
    height: 83vh;
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    align-items: center;

    @media screen and (max-width: $bigGsm) {
      height: 100%;
    }

    .header-layers {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90vw;
      height: inherit;
      @media screen and (max-width: $bigGsm) {
        padding: 5%;
        width: 100%;
        h1 {
          padding: 0;
          margin-top: 1em;
        }
      }

      h1 {
        text-align: center;
        font-size: 16em;
        color: white;
        padding: 0;
        text-transform: capitalize;
        margin-top: -5vh;
      }
    }

    .portfolio__head-img {
      width: 50%;
      margin-top: 3vh;
      @media screen and (max-width: $bigGsm) {
        width: 100%;
        margin: 5vh 0;
      }
      @media screen and (max-width: $smallLaptop) and (min-width: $Tablet) {
        width: 90%;
        margin-bottom: 3vh;
      }
    }


  }

  &__grid {

    h1, h3 {
      color: black;
      padding: 1vh 5vw;
    }

    .portfolio__request {
      padding: 1vh 0 0 7.6vw;

      p:nth-child(2) {
        margin-top: 3vh;
      }
    }

    h1 {
      font-size: 35px;
      font-weight: 500;
      margin: 4% 0;
    }

    h3 {
      text-shadow: none;
      font-weight: 300;
      font-size: 34px;
      text-align: center;
      margin: 1%;
    }

    > .row:first-child {
      padding-top: 175px;
      @media screen and (max-width: 1209px) and (min-width: $smallLaptop) {
        padding-top: 5vh;
      }
      @media screen and (max-width: $bigGsm) {
        padding-top: 20px;
      }
    }

    > .row:nth-child(2) {
      padding: 0 0 230px 0;
    }

    .no-problemo {
      font-size: 22px;
      font-weight: 600;
      line-height: 1.5px;
      color: $yellow;
      text-shadow: #6c6c6c 1px 1px 1px;
    }

    h2 {
      padding: 1vh 6vw;
      color: black;
    }

    .portbutton {
      margin: 2vh 0;
      width: 80%;
      padding: 2em;
      background: $blue;
    }

    .portbutton:hover {
      background: $blue;
    }
  }
  &__wrapper {
    display: flex;
    padding: 20vh 40px;
    min-height: 50vh;

    &-solution {
      display: flex;
      align-items: center;

      .portfolio__solutionTxt {
        width: 80%;
        margin-top: -10vh;

        p {
          color: black !important;
        }
      }
      @media screen and (max-width: $smallLaptop) {
        width: 100%;
        margin: 15% 2% 4% 2%;
      }
    }

    &-img {
      .portfolio__smartphone {
        display: flex;
        justify-content: center;
        @media screen and (max-width: $smallLaptop) {
          margin: 0 auto;
          width: 80%;
        }
      }

    }

    @media screen and (max-width: $smallLaptop) {
      flex-direction: column;
    }
  }
}


.cta-overal {
  a {
    background: $blue;
    color: white;

    &:hover, &:before {
      background: $yellow;
    }
  }

}

.parallax {
  height: 400px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    position: absolute;
  }
}

.portfolio__head-img {
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;


}

.scroll-downs {
  justify-content: flex-end;
  margin: 0 0 10vh 0;
  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 1.7s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}






