.serviceHome {
  width: 100%;
  padding: 50px 0;
}

.serviceHome__header-wrapper {
  display: flex;

  .serviceHome__title {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.weetjes {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .service-tile {
    background-color: $yellow;
    padding: 3%;
    margin: 0 12.5px;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $Tablet) {
      margin-top: 25px;
    }
    h2 {
      color: $light-black;
      margin: 25px 0 10px 0;
      @media (max-width: $Tablet) {
        margin-top: 35px;
      }

      &.webdesign {
        margin: 28px 0 10px 0;
      }

      &.webhosting {
        margin: 20px 0 9px 0;
      }
    }



  }

  p {
    color: $light-black;
    width: 400px;
    text-align: center;
    @media (max-width: 991px) {
      text-align: left;
    }
    @media (max-width: $mq-xl) {
      width: unset;
    }
  }

  svg {
    height: 120px;


    &:nth-child(2), &:nth-child(3) {
      margin-left: 50px;
    }
  }

  .onderhoud-image svg {
    height: 141px;
  }

  .seo-wrapper {
    .seo {
      &-image {
        width: 217px;
      }
    }

  }

  .email-wrapper {
    .email {
      &-image {
        width: 140px;
      }
    }
  }

  .moreInfo-btn {
    margin: 2vh 0;
    background: $blue;
    color: white;
    border: 2px solid transparent;
    font-weight: 900;

    &:before {
      background: unset;
    }

    &:hover, &:focus, &:active {
      background: transparent;
      border: 2px solid $blue;
      box-shadow: unset;
      color: $blue;
    }
  }

}

.icon-margin1 {
  svg {
    height: 200px;
    margin-top: -4em;
  }
}