.person-wrapper {
  height: 70vh;
  text-align: center;
  @media screen and (max-width: $Tablet) {
    height: 600px;
  }
  @media screen and (max-width: $smallGsm) {
    height: 650px;
  }

  .testimonial-title {
    padding: 5%;

    h2, h3 {
      text-align: center !important;
    }

    h3 {
      font-style: italic;
      font-size: 20px;
      color: black;
    }

  }

  .testimonial-carousel {
    margin: 0;
    padding: 0;
    .carousel-indicators {
      top: 222px;
      @media screen and (max-width: $smallerLaptop) {
        display: none;
      }
      li {
        border-color: $blue;
      }
      li.active {
        background-color: $blue;
      }
    }

    .carousel-control {
      display: inherit;
      background: none;
      color: black;
      width: 5%;
    }

    .carousel-inner {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      @media screen and (max-width: $Tablet) {
        width: 100%;

      }
      .item {
        height: 100%;
      }
    }

  }
}

.show-grid {
  padding: 30px 0;
}

.testimonials {
  background-color: #f4f4f4;
  justify-content: center;
}