.timeline {
  background-color: lightgray;
  h1 {
    text-align: center;
  }

  margin-bottom: 10vh;


  h3 {
    font-size: 30px;
    font-weight: 300;
    color: $blue;
    font-family: 'JOSEFIN-SANS-REG', Arial, Helvetica, sans-serif;
    text-align: left;
    text-shadow: none;
    @media (max-width: $Tablet) {
      font-size: 25px;
    }
  }

  .vertical-timeline-element-content {
    box-shadow: 3px 4px 1px #ddd;

    p {
      font-size: 16px !important;
    }

    .vertical-timeline-element-date {
      font-size: 16px !important;

    }

    span {
      font-size: 16px;
    }
  }


  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(odd):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
    left: 139% !important;
  }

  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
    right: 139% !important;
  }

  .vertical-timeline-element-icon {
    background: $yellow !important;

    svg {
      font-size: 19px;
      left: 52%;
    }
  }

}