.contact {
  .contact-header {
    margin-top: 10vh;
    color: $blue;
    @media (max-width: $Tablet) {
      margin: 0;
      font-size: 28px;
    }

  }
  padding-left: 10%;
  @media (max-width: $Tablet) {
    padding: 0;
  }
  p, .contact-subheader {
    color: black;
    text-shadow: none;
    text-align: left;

  }

  .contact-section {
    .contact__gegevens {
      display: flex;
      align-items: center;
      @media (max-width: $Tablet) {
        flex-direction: column;
        align-items: flex-start;
      }

      .contact__afbeelding {
        height: 150px;
        width: 180px;
      }

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          color: black;
          font-size: 130%;
        }
      }
    }


    .socialBtn__list {
      list-style-type: none;
      display: flex;
      svg {
        path {
          fill: #337ab7;
        }
      }
      li {
        padding-right: 20px;
      }
    }


    a:hover {
      color: darken($yellow, 20%);
    }

    display: flex;
    flex-direction: column;

  }
}

.contactForm {
  min-height: 400px;
  margin-bottom: 100px;
  padding-bottom: 50px;

  .form-group {
    height: 40px;
    @media screen and (max-width: $Tablet) {
      height: 55px;
    }
  }

  textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  label.control-label {

  }

  .mellow-btn {

    text-transform: uppercase;
    margin: 20px 0;
    width: 130px;
  }
}