.seo {
  margin: 10vh 0 0 0;

  h2 {
    font-size: 35px;
    color: $blue;
    text-align: left;
    text-shadow: none;
  }
  .section--belang {

    @media (min-width: $mq-xs) {
      display: inherit;
    }

    @media (min-width: $mq-md) {
      display: flex;
    }
    div:first-child {

      @media (min-width: $mq-xs) {
        margin-bottom: 5vh;
      }

      @media (min-width: $mq-sm) {
        margin-bottom: 5vh;
      }
    }



    p {
      margin: 1em 0;
    }

    .sea-link {
      color: black;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  .seo__voordelen {
    margin: 5vh 0;

    display: flex;
    flex-direction: column;

    h2 {
      color: black;
      padding-left: 15px;
    }


    & div:first-child {
      display: flex;
      justify-content: center;

      .img-seo {
        height: 60%;
        width: 60%;
      }
    }

    aside {
      display: flex;

      flex-direction: column;
      align-items: center;

      @media (min-width: $mq-md) {
        flex-direction: row;
        justify-content: space-around;
      }
      margin: 40px 0;
      line-height: 20px;

      transition: all 0.3s ease-in-out;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;

      article {
        background: $yellow;
        width: 100%;
        margin-bottom: 4rem;
        @media (min-width: $mq-md) {
          width: 30%;

        }
        padding: 25px;
        min-height: 400px;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 350px;
        border-radius: 5px;

        h3 {
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          font-size: 24px;
          text-align: center;
          letter-spacing: .88px;
          text-transform: uppercase;
          color: #666;
          margin: 0 0 30px 0;
        }

        p {
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          font-size: 16px;
          letter-spacing: .285714px;
          color: black;
        }

        &:first-child {
          margin-right: 20px;
        }

        .seo__subtitle {
          font-family: 'JOSEFIN-SANS-BOLD', Arial, Helvetica, sans-serif;
          color: #666;
          margin-bottom: 20px;
          font-size: 25px;
          text-align: center;
          min-height: 40px;
        }


      }


    }

    .seo__extraCta {
      color: black;

    }
  }
}


.seo-cta {


  width: 100%;
  background-color: lightgray;
  padding: 3em;
  display: flex;
  justify-content: center;
  margin: 80px 0 20px 0;
  @media (min-width: $mq-md) {
    height: 55vh;

  }
  @media (max-width: $bigGsm) {
    flex-direction: column;

  }

  p {
    color: black;
  }

  h2 {
    color: $blue;
  }
  div {
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .label {
        display: none;
      }

      .input-group {
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: space-around;
        @media (max-width: $Tablet) {
          width: 100%;
        }
        &:last-child {


          @media (min-width: $mq-sm) {
            width: 100%;
          }
        }
      }

      button {
        display: flex;
        max-width: 100%;
        width: 70%;
        justify-content: center;

        @media (min-width: $mq-sm) {
          padding: 12px 33px;
        }
        @media (max-width: $Tablet) {
          width: 100%;
        }
      }
    }
  }

}

.img-google {
  width: 30%;
  display: flex;
  align-items: center;
}

.seoDescription-wrapper {
  display: flex;
  justify-content: center;

  .img-seo {
    width: 60%;
    margin: 5vh 0;
  }
}


.sea-context {
  margin: 10vh 0;

  p {
    margin-bottom: 5vh;
  }

  .sea-shoutout {
    color: black;
  }
}