

.landingJumb{
  .container{
    padding-top: 10%;

    h1{
      color:white;
      font-size: 50px;
      text-align: left;
      text-shadow: #6c6c6c 2px 2px;
    }
    .cta-landing {
      margin-top: 80px;
      font-size: 18px;
      text-transform: uppercase;
    }

  }

}


