.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.fieldset1{
  display: block;
}
.fieldset2 {
  display:none;
}

.closeModal{
  cursor: pointer;
  height: 30px;
  margin: 13px;

}
.opper-form-offerte{
  padding: 35px 0;
text-align: center;
  background-color: #efc337;
  h1{

  //  margin: 0 auto;
  }
  h3{
     text-shadow: none;
    font-family: 'mellow', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 35px;
  }
  .form-offerte-small{
    font-size: 18px;
  }
  .form-offerte{
margin: 1%;
    .fieldset{
      background-color: black;
      padding: 35px 90px 45px 90px;
      color: white;
      width: 90%;
      position: relative;
      margin-top: 1.5em;

      &:first-child{
        padding-bottom: 30px;
      }
      .legend{

        display: block;
        text-align: center;
        font-size: 1.8em;
        font-weight: 100;
        line-height: 1em;
        margin: 0 0 1em 0em;
        font-style: italic;
        padding: 0;
        width: 100%;

      }
    }
  }
}