.contentTile {
  width: 25%;
  margin: 0 3% 36px 3%;
  padding-left: 0;

  background: #fff;
  height: 445px;
  position: relative;

  &:hover {
    box-shadow: 5px 10px 8px #888888;
  }

  .contentImg {
    width: 105%;
    height: 265px;

  }

  .contentTitle {
    padding: 25px 25px 0 25px;

    h3 {
      font-size: 1.6666666667em;
      line-height: 1.1333333333em;
      color: #363130;
      font-weight: normal;
      margin: 0 0 0 0;
    }

    a {
      font-weight: 700;
      font-size: 0.6111111111em;
      text-transform: uppercase;
      padding-top: 20px;
      position: relative;
      margin-top: 15px;
      display: block;
      line-height: normal;
      color: #b5b3b3;
    }
  }
}



