.serviceHomePictures {
  background-color: #b9b7b7b8;
  height: 1100px;
  padding: 5% 2%;
  width: 100%;

  .serviceheader {
    width: 65%;
    margin: 3% 21%;
    text-align: center;
    height: 22%;
  }

  h2, p {
    color: black;


  }

  h2 {


    font-size: 2.44em;
    line-height: 1em;
    position: relative;

    font-weight: normal;
    margin: .83em 0 1.15em 0em;
  }

  p {


    font-size: 1.125em;
    line-height: 1.550em;
    font-weight: 300;

  }

  .helpen {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .service {
    padding: 0 9%;

    .serviceTiles {
      display: flex;
      flex-direction: row;

      .lastTile {
        margin-top: -100px;
      }
    }
  }

}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #222;
  font-size: 1em;
  line-height: 1.4
}

body {
  margin: 0
}

figcaption, figure {
  display: block
}

a {
  background: transparent
}

a:active, a:hover {
  outline: 0
}

small {
  font-size: 80%
}

img {
  border: 0
}

figure {
  margin: 1em 40px
}

.hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

::-moz-selection {
  background: #FFE9A1;
  text-shadow: none
}

::selection {
  background: #FFE9A1;
  text-shadow: none
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

img {
  vertical-align: middle
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important
  }

  a, a:visited {
    text-decoration: underline
  }

  a[href]:after {
    content: " (" attr(href) ")"
  }

  img {
    page-break-inside: avoid
  }

  img {
    max-width: 100% !important
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3
  }

  h2, h3 {
    page-break-after: avoid
  }
}


a, a:focus {
  outline: none;
  text-decoration: none;
  color: inherit
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

html, body {
  height: 100%
}

body {

  font-size: 1.125em;
  line-height: 1.750em;
  font-weight: 300;
  color: #6c6c6c;
  background-color: #f2f2f2;
  min-width: 1200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@media (min-width: 0px) {
  body {
    min-width: 0
  }
}

h2 {
  position: relative;
  font-family: 'Playfair Display';
  font-size: 2.1111111111em;
  font-weight: normal;
  line-height: 1.1578947368em;
  margin: .83em 0 1.15em 0
}

h2:after {
  content: "";
  display: block;
  width: 46px;
  height: 2px;
  background: #efc337;
  position: absolute;
  left: 0;
  bottom: -18px
}

@media (max-width: 1023px) {

  h2 {
    font-size: 1.8888888889em
  }
}

@media (max-width: 767px) {
  body {
    font-size: 1em
  }

  h2 {
    font-size: 1.5em !important
  }

  h2 br {
    display: none
  }
}

.wrapper-1075 {
  margin: 0 auto;
  max-width: 1075px;
  position: relative
}

.btn {
  display: inline-block;
  line-height: normal;
  padding: 17px 20px 16px 20px;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background .15s;
  -moz-transition: background .15s;
  -ms-transition: background .15s;
  -o-transition: background .15s;
  transition: background .15s
}

.btn span {
  color: inherit
}

.btn span {
  position: relative;
  z-index: 1;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 0;
  display: block;
  padding: 0;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out
}

.btn:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1)
}

@media (max-width: 1024px) {
  .btn:hover:before {
    display: none;
    height: 0
  }
}

.btn-center {
  max-width: 260px;
  margin: 0 auto;
  display: block;
  text-align: center;
  clear: both
}

.btn-border {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  border: 2px solid #aaa;
  color: #888;
  padding: 15px 20px 14px 20px;
  background: none;
  color: #888
}

.btn-border span {
  position: relative;
  z-index: 1;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s
}

.btn-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 0;
  display: block;
  padding: 0;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out
}

.btn-border:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1)
}

@media (max-width: 1024px) {
  .btn-border:hover:before {
    display: none;
    height: 0
  }
}

.btn-border:hover {
  background: none;
  color: #fff
}

@media (max-width: 1024px) {
  .btn-border:hover {
    background: none;
    color: #888
  }
}

.btn-border:before {
  background: #aaa
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

[class^="grid-col-"] {
  float: left;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.grid-col-50 {
  width: 50%
}

.wysi a {
  font-weight: 700
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2
}

.overlay:before, .overlay:after {
  position: absolute;
  top: 21px;
  right: 21px;
  bottom: 21px;
  left: 21px;
  content: '';
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
  transition: opacity 0.35s ease, transform 0.35s ease
}

.overlay:before {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1)
}

.overlay:after {
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0)
}

.overlay-color {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity .35s;
  -moz-transition: opacity .35s;
  -ms-transition: opacity .35s;
  -o-transition: opacity .35s;
  transition: opacity .35s
}

.overlay-color1 {
  background-color: #dd8b78;
}

.overlay-color2 {
  background-color: #90c7cc;
}

.overlay-color3 {
  background-color: #d3a627;
}

.overlay-color4 {
  background-color: #71cab3;
}

.overlay-color5 {
  background-color: #d3a627;
}

.overlay-content {
  position: absolute;
  z-index: 4;
  bottom: 27px;
  left: 43px;
  right: 43px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0)
}

.overlay-content h3 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.6666666667em;
  line-height: 1.1333333333em;
  font-weight: 400;
  margin: 0
}

.overlay-content h3 small {
  font-size: 0.6666666667em;
  display: block;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.15em;
  margin-top: 4px
}

.overlay-content h3 a {
  display: block
}

.overlay-content > a {
  font-size: 0.7777777778em;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 13px 0;
  letter-spacing: 1px
}

.overlay-content > a.light {
  opacity: .7;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -ms-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s
}

.overlay-content > a.light:hover {
  opacity: 1
}

.overlay-content .hr {
  margin: 0;
  border: none;
  display: block;
  width: 42px;
  height: 1px;
  background: #fff
}

.fig-hover-item {
  clear: both;
  position: relative;
  line-height: normal
}

.fig-hover-item .fig {
  margin: 0;
  width: 100%;
  height: 100%
}

.fig-hover-item .fig img {
  display: none;
  width: 100%;
  height: auto
}

.fig-hover-item .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: 'Museo Sans', sans-serif;
  font-weight: 700;
  line-height: normal;
  font-size: 0.7222222222em;
  color: #fff;
  text-transform: uppercase;
  z-index: 1;
  padding: 0 0 18px 23px
}

.fig-hover-item .caption:before {
  content: "";
  height: 78px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  z-index: -1;
  background: url(/assets/img/components/fig-hover-gradient.png);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  display: none
}

.fig-hover-item > .full-link {
  z-index: 1
}

.fig-hover-item:hover .overlay-color {
  opacity: .9
}

.fig-hover-item:hover .overlay:before, .fig-hover-item:hover .overlay:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease .2s;
  transition: opacity 0.4s ease, transform 0.45s ease .2s
}

.fig-hover-item:hover .overlay-content {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.full-link {
  position: absolute;
  text-indent: -99999px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: url(/assets/img/blank.gif)
}

@media (max-width: 767px) {
  .fig-hover-item {
    height: auto !important
  }

  .fig-hover-item .fig {
    background-image: none !important
  }

  .fig-hover-item .fig img {
    display: block
  }

  .fig-hover-item .caption {
    padding: 0 0 10px 15px;
    font-size: 0.6875em
  }
}

.home-portfolio {
  background: #f4f4f4;
  padding-top: 80px;
  padding-bottom: 65px
}

.home-portfolio .portfolio-grid {
  padding-bottom: 65px
}

.home-portfolio .fig-hover-item.height-280 {
  height: 280px
}

.home-portfolio .fig-hover-item.height-380 {
  height: 380px
}

.home-portfolio-text-mobile {
  display: none
}

.home-portfolio-text {
  line-height: 1.5555555556em
}

.home-portfolio-text h2 {
  margin-top: 0;
  font-size: 2.4444444444em;
  line-height: 1em
}

.home-portfolio-text p {
  margin-top: 0
}


@media (max-width: 1024px) {

  .home-portfolio .fig-hover-item.height-280 {
    height: 250px
  }

  .home-portfolio .fig-hover-item.height-380 {
    height: 350px
  }
}

@media (max-width: 1023px) {

  .home-portfolio {
    padding-top: 50px;
    padding-bottom: 35px
  }

  .home-portfolio .portfolio-grid {
    padding-bottom: 35px
  }

  .home-portfolio-text {
    margin-bottom: 1em
  }

  .home-portfolio-text .grid-col-50 {
    width: auto;
    float: none;
    padding: 0
  }

  .portfolio-grid .overlay {
    display: none
  }

  .portfolio-grid .fig-hover-item.height-280 {
    height: 180px
  }

  .portfolio-grid .fig-hover-item.height-380 {
    height: 280px
  }
}

@media (max-width: 767px) {

  .home-portfolio {
    padding-top: 30px
  }

  .home-portfolio .wrapper-1075 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .home-portfolio .btn {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3
  }

  .home-portfolio-text-mobile {
    display: block;
    text-align: center
  }

  .home-portfolio-text {
    text-align: center;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2
  }

  .home-portfolio-text h2 {
    font-size: 1.6875em
  }

  .home-portfolio-text h2 br {
    display: none
  }

  .home-portfolio-text h2:after {
    left: 50%;
    margin-left: -23px
  }

  .portfolio-grid {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
  }

  .portfolio-grid .grid-col-50 {
    width: auto;
    float: none
  }

  .portfolio-grid .grid-col-50 .grid-col-50 {
    width: 50%;
    float: left
  }
}

@media (min-width: 1025px) {

  .fx-opacity {
    opacity: 0;
    -webkit-transition: opacity .8s;
    -moz-transition: opacity .8s;
    -ms-transition: opacity .8s;
    -o-transition: opacity .8s;
    transition: opacity .8s
  }
}

@media (max-width: 1200px) {
  .wrapper-1075 {
    margin-right: 60px;
    margin-left: 60px;
    max-width: none
  }
}

@media (max-width: 1023px) {
  .wrapper-1075 {
    margin-right: 40px;
    margin-left: 40px
  }
}

@media (max-width: 767px) {
  .wrapper-1075 {
    margin-right: 20px;
    margin-left: 20px
  }
}
