.person-wrapper {
  height: 60vh;
  text-align: center;
  .show-grid {
    padding-bottom: 30px;
  }

  .testimonial-title {
    padding: 5%;

    h2, h3 {
      text-align: center !important;
    }

    h2 {
      color: black;
    }

    h3 {
      font-style: italic;
      font-size: 20px;
    }

  }

  .testimonial-carousel {

    margin: 0 12%;
    padding: 0 4%;

    .carousel-indicators {
      top: 222px;
      @media screen and (max-width: $Tablet) {
        display: none;

      }
      li {
        border-color: $blue;
      }

      li.active {
        background-color: $blue;
      }
    }

    .carousel-control {
      display: inherit;
      background: none;
    }

    .carousel-inner {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      @media screen and (max-width: $Tablet) {
        width: 100%;

      }
      .item {
        height: 100%;
        @media screen and (max-width: $Tablet) {


        }
      }
    }

  }
}

