.person-wrapper {
  h3 {
    text-align: center !important;
  }

  .show-grid {
    padding-bottom: 30px;
  }

  .testimonial-title {
    padding: 5%;
  }

  .testimonial-carousel {
    background-color: #6c6c6c80;
    margin: 1% 25%;
    padding: 5%;

    .carousel-indicators {
      top: 202px;
    }

    .carousel-control {
      display: inherit;
    }
  }
}

