.person-wrapper {

  text-align: center;
  .show-grid {
    padding-bottom: 30px;
  }

  .testimonial-title {
    padding: 5%;

    h2, h3 {
      text-align: center !important;
    }

    h2 {
      color: black;
    }

    h3 {
      font-style: italic;
      font-size: 20px;
    }

  }

  .testimonial-carousel {

    margin: 0 20%;
    padding: 5%;

    .carousel-indicators {
      top: 202px;
    }

    .carousel-control {
      display: inherit;
      background: none;
    }

    .carousel-inner {
      width: 70%;
      margin: 0 auto;
      text-align: center;

      .item {
        height: 90px;
      }
    }

  }
}

