$yellow: #efc337;
$blue: #3763ef;
$transpar-yellow: #efc337a6;
$grey: #6c6c6c;
$background-grey: #f2f2f2;
$color-grey: #a9b1b3;
$color-alpha: #d0f2ee;
$green: green;
$red: red;


$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

$widthTile: 490px;
$heighTile: 380px;
$heightSmallTile: 280px;


$bigLaptop: 1300px;
$smallLaptop: 1024px;
$smallerLaptop: 992px;
$Tablet: 768px;
$bigGsm: 767px;
$smallGsm: 480px;