.website {
  padding-top: 5%;
  width: 100%;

  .row {
    flex-direction: row;
    width: 100%;
  }

  .waarom-website-txt {
    margin-bottom: 10vh;
    h2 {
      margin: 3vh 0 5vh 0;

      &:before {
        content: "";
        position: absolute;
        left: 260px;
        top: 66px;
        bottom: 0;
        height: 2px;
        width: 5em;

        background-color: black;
        animation: slide-in 1s ease-in;
      }

      @keyframes slide-in {
        0% {
          transform: translate3d(-100%, 0, 0);
        }
        100% {
          transform: translate3d(0, 0, 0);
        }
      }
    }
    strong {
      font-size: 1.6em;
      line-height: 3em;
    }
  }

  .mobile-responsive {
    margin: 20vh 0;
    height: 70vh;
    @media (min-width: $mq-xs) {
      margin: 0;
    }
    @media (max-width: $bigGsm) {
      height: 50vh;
    }

    @media (min-width: $mq-md) and (max-width: $mq-lg) {
      margin-top: 0;
    }
    p {
      margin: 3vh 0;
    }

    .mobile-img {
      display: block;
      max-width: 100%;
      width: 100%;
      @media (max-width: $bigGsm) {
        height: 50%;
      }
      @media (min-width: $mq-md) and (max-width: $mq-lg) {
        height: 70%;
      }
      @media (min-width: $smallLaptop) and (max-width: 1199px) {
        height: 65%;
      }
      @media (min-width: 1200px) and (max-width: 1299px) {
        height: 73%;
      }
      @media (min-width: $bigLaptop) {
        height: 90%;
      }
    }

  }


  strong {
    color: black;
    margin-top: 20px;
  }


  .overall-container {
    height: 500px;
    width: 100%;
    position: absolute;
  }

}


.container  {
  padding-right: 0;
  padding-left: 20px;
  margin: 10vh 0;

  .wp-block-quote {
    margin: 40px;

    p {
      position: relative;
      font-size: 31px;
      line-height: 1.5em;
      font-style: italic;
    }

    cite {
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
