.website {
  padding-top: 5%;
  width: 100%;

  .row {
    flex-direction: row;
    width: 100%;
  }

  .waarom-website-txt {
    h2 {
      margin: 3vh 0 5vh 0;
    }
    strong {
      font-size: 1.6em;
      line-height: 3em;
    }
  }

  .mobile-responsive {
    margin: 20vh 0;

    p {
      margin: 3vh 0;
    }
  }

  strong {
    color: black;
    margin-top: 20px;
  }


  .overall-container {
    height: 500px;
    width: 100%;
    position: absolute;
  }

}


